---
import Layout from '../layouts/Layout.astro';
import About from '../components/sections/About.astro';
import Busqueda from '../components/sections/Busqueda.astro';
import Ofertas from '../components/sections/Ofertas.astro';
import Especializacion from '../components/sections/Especializacion.astro';
import Especialistas from '../components/sections/Especialistas.astro'
---

<Layout title="Surya Nursing Home">
	<main>
		<About/>
		<Busqueda/>
		<Ofertas/>
		<Especializacion/>
		<Especialistas/>
	</main>
</Layout>

<style>
	main{
		background-color: #e7f0ff;
	}
</style>

