<div id="sliderCards">
    <slot name="img"/>
    <slot name="nombre"/>
    <slot name="especialidad"/>
</div>
<style>
    #sliderCards{
        width: 20%;
        margin: auto;
        text-align: center;
        filter: drop-shadow(
            0 0 15px rgba(0, 0, 0, .3)
        );
    }
    @media screen and (max-width: 1050px){
        #sliderCards{
            width: 45%;
        }
    }
</style>